<table class="table">
    <tr>
        <th>Title</th>
        <td>{{title}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{categoryString}}</td>
    </tr>
    <tr>
        <th>Contents</th>
        <td>{{contents}}</td>
    </tr>
    <tr>
        <th>Format</th>
        <td>{{format}}</td>
    </tr>
    <tr>
        <th>Publish?</th>
        <td>{{published}}</td>
    </tr>
</table>
<p>
    <a id="btn-entry-back-to-form" class="btn btn-default">Back</a>
    <a id="btn-entry-create" class="btn btn-primary">Create</a>
</p>