<td><a href="{{bookLink}}">{{bookTitle}}</a></td>
<td><img width="50" src="{{bookImage}}"></td>
<td>{{publicationDate}}</td>
<td>{{authors}}</td>
<td>
    <button class="btn btn-default">Insert</button>
</td>