<div class="btn-group">
    <a href="#/entries?form"
       class="btn btn-default"><span
            class="glyphicon glyphicon-list"></span> 作成</a> <a
        id="btn-show-entry-search-form" class="btn btn-default"><span
        class="glyphicon glyphicon-search"></span> 検索</a>
</div>
<div id="entrySearch" style="display: none">
    <form id="entrySearchForm" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="keyword" class="col col-sm-2 control-label">Keyword:</label>

                <div class="col col-sm-10">
                    <input id="keyword" name="keyword" class="form-control" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col col-sm-10 col-sm-offset-2">
                    <a id="btn-entry-confirm" class="btn btn-primary">Search</a>
                </div>
            </div>
        </fieldset>
    </form>
    <a id="btn-close-entry-search-form" class="btn btn-default">Close</a>
</div>
<hr>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Title</th>
        <th>Contents</th>
        <th>Created date</th>
        <th>Last modified date</th>
    </tr>
    {{#each content}}
        <tr>
            <td><a href="#/entries/{{entryId}}">{{title}}</a>
            </td>
            <td>{{contents}}</td>
            <td>{{createdDate}}</td>
            <td>{{lastModifiedDate}}</td>
        </tr>
    {{/each}}
</table>