<table class="table">
    <tr>
        <th>Title</th>
        <td>{{title}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{categoryString}}</td>
    </tr>
    <tr>
        <th>Contents</th>
        <td>{{contents}}</td>
    </tr>
    <tr>
        <th>Format</th>
        <td>{{format}}</td>
    </tr>
    <tr>
        <th>Publish?</th>
        <td>{{published}}</td>
    </tr>
</table>
{{#if create}}
    <p>
        <a id="btn-entry-back-to-form" class="btn btn-default">Back</a>
        <a id="btn-entry-create" class="btn btn-primary">Create</a>
    </p>
{{/if}}
{{#if view}}
    <p>
        <a href="#/entries" class="btn btn-default">Back</a>
        <a href="#/entries/{{entryId}}?form" class="btn btn-primary">Update</a>
        <a href="#/entries/{{entryId}}?delete" class="btn btn-danger">Delete</a>
    </p>
{{/if}}