<table class="table table-striped table-bordered table-condensed">
    <tr>
        {{#if history}}
        {{else}}
            <th>Id</th>
        {{/if}}
        <th>Title</th>
        {{#if history}}
        {{else}}
            <th>Published</th>
        {{/if}}
        <th>Format</th>
        <th>Created date</th>
        <th>Created by</th>
        <th>Last modified date</th>
        <th>Last modified by</th>
        {{#if history}}
            <th>Action</th>
        {{/if}}
    </tr>
    {{#each content}}
        <tr>
            {{#if ../history}}
            {{else}}
                <td>
                    {{entryId}}
                </td>
            {{/if}}
            <td>
                {{#if ../history}}
                    {{title}}
                {{else}}
                    <a href="#entries/{{entryId}}">{{title}}</a>
                {{/if}}
            </td>
            {{#if ../history}}
            {{else}}
                <td>
                    {{#if published}}
                        <span class="label label-success">Published</span>
                    {{else}}
                        <span class="label label-warning">Unpublished</span>
                    {{/if}}
                </td>
            {{/if}}
            <td>{{format}}</td>
            <td>{{createdDate}}</td>
            <td>{{createdBy}}</td>
            <td>{{lastModifiedDate}}</td>
            <td>{{lastModifiedBy}}</td>
            {{#if ../history}}
                <td>
                    <a id="btn-entry-apply-history" class="btn btn-default" data-entry-history-id="{{entryHistoryId}}">Apply</a>
                </td>
            {{/if}}
        </tr>
    {{/each}}
</table>