<td>{{threadId}}</td>
<td style="word-wrap: break-word;word-break: break-all;">{{threadName}}</td>
<td><span class="label label-{{class}}">{{detailedState}}</span></td>
<td style="word-wrap: break-word;word-break: break-all;">{{lockName}}</td>
<td style="word-wrap: break-word;word-break: break-all;">{{lockOwnerName}}</td>
<td>
    <button class="btn btn-default btn-xs stacktrace">Stack Trace</button>
</td>

