<td>
    {{fileId}}
</td>
<td>
    <a href="{{url}}" target="_blank">{{fileName}}</a>
</td>
<td>
    {{#if isImage}}
        <a href="{{url}}" target="_blank"><img src="{{url}}" width="100"></a>
    {{else}}
    {{/if}}
</td>
<td>
    <div class="btn-group">
        <a href="{{url}}?attachment" class="btn btn-default">Download</a>
        <a id="btn-file-delete" class="btn btn-danger">Delete</a>
    </div>
</td>
